body{
	background: #ccc;
}
h1{
    text-align: center;
    border: 3px black solid;
    border-radius: 36px;
    background: royalblue;
    box-shadow: 3px 3px 0px black;
}
img{
	width: 100px;
	height: 100px;
}
h2{
	color: blue;
}
footer{
	border: 6px black solid;
	border-radius: 36px;
	text-align: center;
	background: royalblue;
	box-shadow: 3px 3px 3px black;
}
